*.suo
*.user

/.vs
/.vscode
/.sonarqube

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

*.[Pp]ublish.xml
*.azurePubxml

*.pubxml
*.publishproj

test-result
.tools/linq2db.t4models/Init.ps1
/.tools
